{% extends 'base.html' %}

{% block content %}
    <article class="class">
        <table class="table">
            <tr>
                <th>Заголовок</th>
                <th class="text-center">В старой базе записей</th>
                <th class="text-center">В новой базе записей</th>
                <th class="text-right">Действия</th>
            </tr>
            {% for item in data_import %}
                <tr class="{{ item.tr_class|default:"info" }}">
                    <td><h4>{{ item.title }}</h4></td>
                    <td class="text-center"><p>{{ item.old_count }}</p></td>
                    <td class="text-center">{{ item.new_count }}</td>
                    <td class="text-right">{% if item.action %}
                        <a href="/import/{{ item.action }}/import" class="btn btn-primary">имортировать</a>
                        <a href="/import/{{ item.action }}/del" onclick="if(confirm()) return true; else return false;" class="btn btn-danger">удалить</a>
                    {% else %}
                        нет действий
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock content %}