{% extends 'base.html' %}

{% block title %}
    Главная страница - {{ block.super }}
{% endblock %}

{% block contentHeader %}
    <h2>Новинки <small>самые свежие поступления в наш магазин</small></h2>
{% endblock %}

{% block topContent %}
<div class="col-md-8">
    <img src="/media/banners/cod_iw_pre_688x400.jpg" alt="Call of Duty Preorder" class="img-fluid" />
</div>
<div class="col-md-4">
    <img src="http://placehold.it/340x200" class="img-fluid" />
    <img src="http://placehold.it/340x200" class="img-fluid" />
</div>
{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-4">
        <article class="product">
            <header>
                <div>
                    <img src="/media/covers/fifa-17-ps4_ps-4_cover.png" alt="" class="img-fluid" />
                </div>
                <div>
                    <h5><a href="#">Fifa 17 для PS4</a></h5>
                </div>
            </header>
            <div class="price inline-block">3990р</div>
            <div class="buybutton inline-block">
                <input type="button" name="fifa17" value="купить" />
            </div>

        </article>
    </div>

    <div class="col-md-4">
        <article class="product">
            <header>
                <div>
                    <img src="/media/covers/battlefield-1-ps4_ps-4_cover.png" alt="" class="img-fluid" />
                </div>
                <div>
                    <h5><a href="#">Battlefield 1 для PS4</a></h5>
                </div>
            </header>
            <div class="price inline-block">3490р</div>
            <div class="buybutton inline-block">
                <input type="button" name="battlefield1" value="купить" />
            </div>

        </article>
    </div>

    <div class="col-md-4">
        <article class="product">
            <header>
                <div>
                    <img src="/media/covers/elder-scrolls-v-skyrim-special-edition-ps4_ps-4_cover.png" alt="" class="img-fluid" />
                </div>
                <div>
                    <h5><a href="#">Skyrim Special Ed для PS4</a></h5>
                </div>
            </header>
            <div class="price inline-block">2790р</div>
            <div class="buybutton inline-block">
                <input type="button" name="skyrim" value="купить" />
            </div>

        </article>
    </div>

    <div class="col-md-4">
        <article class="product">
            <header>
                <div>
                    <img src="/media/covers/uncharted-4-thiefs-end-ps4_ps-4_cover.png" alt="" class="img-fluid" />
                </div>
                <div>
                    <h5><a href="#">Uncharted 4: Путь вора (A Thief's End) для PS4</a></h5>
                </div>
            </header>
            <div class="price inline-block">1990р</div>
            <div class="buybutton inline-block">
                <input type="button" name="uncharted" value="купить" />
            </div>

        </article>
    </div>
    <div class="col-md-4">
        <article class="product">
            <header>
                <div>
                    <img src="/media/covers/3-witcher-3-wild-hunt-goty-ps4_ps-4_cover.png" alt="" class="img-fluid" />
                </div>
                <div>
                    <h5><a href="#">Ведьмак 3: Дикая Охота (Witcher 3: Wild Hunt) для PS4</a></h5>
                </div>
            </header>
            <div class="price inline-block">3490р</div>
            <div class="buybutton inline-block">
                <input type="button" name="witcher" value="купить" />
            </div>

        </article>
    </div>
    <div class="col-md-4">
        <article class="product">
            <header>
                <div>
                    <img src="/media/covers/mafia-3-ps4_ps-4_cover.png" alt="" class="img-fluid" />
                </div>
                <div>
                    <h5><a href="#">Mafia 3 (Мафия III) для PS4</a></h5>
                </div>
            </header>
            <div class="price inline-block">1990р</div>
            <div class="buybutton inline-block">
                <input type="button" name="mafia" value="купить" />
            </div>
        </article>
    </div>
</section>
{% endblock %}

 {% block sidebar %}
    {% include 'sidebarCataloge.html' %}
 {% endblock %}