{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}магазин видеоигр GameShop{% endblock %}</title>

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" media="screen" title="bootstrap">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" media="screen">
{#    <link rel="stylesheet" href="{% static 'css/style.css'%}" media="screen" title="no title">#}
</head>

<body>
    <div class="container">
        <header class="row">
            <div class="logo col-md-5">
                <img src="{% static 'images/Logomakr_1d6a6R.png' %}" class="img-fluid" />
            </div>

            <div class="search-block offset-md-1 col-md-6 float-md-right">

                {% include 'secondaryMenu.html' %}

                <form action="sendform.php" class="form-inline">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" size=50 placeholder="Введите название игры, например, GTA 5">
                            <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                </form>

            </div>

            <div class="col-md-12">
                {% include 'primaryMenu.html' %}
            </div>

        </header>

        <section class="container">
            {% block topContent %}
            {% endblock %}

            <article>

                <header class="col-md-12">
                    {% block contentHeader %}{% endblock %}
                </header>

                <aside class="col-md-3">
                    {% block sidebar %}{% endblock %}
                </aside>

                <section class="col-md-9">
                    {% block content %}{% endblock %}
                </section>

            </article>

        </section>
        <hr>
        <footer>
            &copy; Все права защищены
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>

</html>
