<sidebar>
    <h3>Жанры игр</h3>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">аркада</a></li>
        <li class="nav-item"><a class="nav-link" href="#">драки</a></li>
        <li class="nav-item"><a class="nav-link" href="#">симуляторы</a></li>
        <li class="nav-item"><a class="nav-link" href="#">спорт</a></li>
        <li class="nav-item"><a class="nav-link" href="#">гонки</a></li>
        <li class="nav-item"><a class="nav-link" href="#">приключения</a></li>
        <li class="nav-item"><a class="nav-link" href="#">стрелялки</a></li>
        <li class="nav-item"><a class="nav-link" href="#">стратегии</a></li>
        <li class="nav-item"><a class="nav-link" href="#">головоломки</a></li>
    </ul>
    <h3>Особенности</h3>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">новинка</a></li>
        <li class="nav-item"><a class="nav-link" href="#">распродажа</a></li>
        <li class="nav-item"><a class="nav-link" href="#">популярные</a></li>
        <li class="nav-item"><a class="nav-link" href="#">предзаказ</a></li>
        <li class="nav-item"><a class="nav-link" href="#">выбор редакции</a></li>
    </ul>
    <h3>По цене</h3>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">до 500р</a></li>
        <li class="nav-item"><a class="nav-link" href="#">от 501 до 1000р</a></li>
        <li class="nav-item"><a class="nav-link" href="#">от 1001 до 2000р</a></li>
        <li class="nav-item"><a class="nav-link" href="#">от 2001 до 3000р</a></li>
        <li class="nav-item"><a class="nav-link" href="#">свыше 3000р</a></li>
    </ul>
</sidebar>