{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="row">
    <p class="lead">{{ lastName|default:"Фамилия" }} {{ firstName|default:"Имя" }} {{ thirdName|default:"Отчество" }}</p>
    <div class="col-md-6 well">
        <div class="row media">
            <div class="col-md-6 media-left">
                Дата рождения:
            </div>
            <div class="col-md-4 col-md-offset-2 media-right">
                {{ birthday|date:"d M Y"|default:"дата рождения" }}
            </div>
            <div class="col-md-6">
                Любимый вид спорта:
            </div>
            <div class="col-md-4 col-md-offset-2">
                {{ hobby|join:", "|default:"нет" }}
            </div>
            <div class="col-md-6">
                Любимый фильм:
            </div>
            <div class="col-md-4 col-md-offset-2">
                {{ likeFilm|join:", "|default:"нет" }}
            </div>
        </div>
    </div>
    <figure class="col-md-3 col-md-offset-1">
        <img src="{% static "image/mainapp/photo1.jpg" %}" class="img-responsive"/>
    </figure>
</section>
{% endblock %}