{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div >
        <h1>Моя работа</h1>
        {% for w in works %}
            <div class="panel panel-default">
              <div class="panel-heading"><h4>{{ w.employer|default:"ООО 'Рога и Копыта'" }} <small>( c {{ w.startDate|date:"d M Y"|default:"Дата неизвестна" }} )</small></h4></div>
              <div class="panel-body">
                Работал в должности {{ w.title|default:"Менеджер" }}
              </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}